
body {
	font-family: 'Marck Script', cursive;
	font-size: 2em;
	color: #86524d;
  }
.first {
  height: 100vh;
}
.log {
  width: 100vw;
  z-index: 2;
  position: absolute;
  padding-top: 3em;

  }
.log img {
  width: 30%;
}
.log img:hover {
  animation-name: rotateOut;
  animation-duration: 5s;
}
.navbar{
  background: rgb(0, 0, 0) transparent;
background: rgba(0, 0, 0, 0.8);
}
.foter {
  background-image: url(img/bg.jpg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  
 }
.carousel-caption>.display-4, .carousel-caption>.lead {
  text-shadow: 1px 1px 2px black;
}
.carousel-caption>.lead {
  font-size: 1em;
}
.carousel-item {
  z-index: 1;
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-inner{
  z-index: 1;
}
.anchor {
	height: 2.5em;
	background-color: #f2e2d5;
}
.anchor h1 {
	padding: 0.5em;
	text-align: center;
	color: #86524d;
	opacity: 0.8;
}
 .thumb img {
            -webkit-filter: grayscale(0);
            filter: none;
            border-radius: 5px;
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 5px;
        }

        .thumb img:hover {
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
        }

        .thumb {
            padding: 5px;
        }
.header_1 {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.header_1 video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.header_1 .container {
  position: relative;
  z-index: 2;
}

.header_1 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
.table {
  padding: 1em;
}
.contact {
	background-image: url(img/contact.jpg);
	background-position: 50% 70%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
  height: 100vh;
	
}
.footer-logo {
    height: 50px;
}
.about {
  color: white;
  text-shadow: 1px 1px 2px black;
}
#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}


@media (pointer: coarse) and (hover: none) {
	
  /*.header_1 {
    background: url(img/sx.jpg) black no-repeat center center scroll;
  }
  .header_1 video {
    display: none;
  }*/
  .log img {
  width: 90%;
  } 
  .carousel-item {
    background-position: 100% 100%;
    background-size: cover;
  }
}
